<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <script src="../JS/userinfo.js"></script>
</head>
<body onload="fun()">

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="clos()">&times;</span>
        <form id="my_form"  onsubmit="updatedata()" method="get">
            Name
            <input type="text" id="name">
            Age
            <input type="number" id="age">
            Email Id
            <input type="email" id="email">
            Address
            <input type="text" id="address">
            Phone Number
            <input type="number" id="ph_no">

            <input type="submit" placeholder="submit">

        </form>
    </div>

</div>

<div id="navbar">
    <a class="btn" href="https://userdetailsbybal.herokuapp.com/" >Profile</a>
    <a class="btn" href="https://userdetailsbybal.herokuapp.com/userinfo">User Info</a>

<!--    <a class="btn" href="/" >Profile</a>-->
<!--   <a class="btn" href="/userinfo">User Info</a>-->
    </div>
    <div id="result">

    </div>
    </body>
    </html>